﻿@{
    ViewData["Title"] = "Contact Kolluri";
    ViewBag.Kolluri = "Hello, This is ViewBag";
}
<h2>@ViewData["Title"].</h2>
<h1>@ViewBag.Kolluri.</h1>


<address>
    619 W 1st Street<br />
    Maryville- MO 64468<br />
    <abbr title="Phone">P:</abbr>
    660-528-7212
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
