﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Banner.jpg"alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="C:\Users\S525272\Desktop\KolluriBooks\src\KolluriBooks\download.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="C:\Users\S525272\Desktop\KolluriBooks\src\KolluriBooks\Image 1.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="C:\Users\S525272\Desktop\KolluriBooks\src\KolluriBooks\image2.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    
    <div class="col-md-3">
        <h2>Categories</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Thriller</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">Horror.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Science Fiction</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Romance</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Action</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Comedy</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Biography & Auto - Boigraphies</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Shop</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Books</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">E - Books</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Bargain Books</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Book Clubs</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Text Books</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">New and used market place.</a></li>
            
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Services</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Gift Cards</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Gift Services</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Books for Troops</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Business Services</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>Company</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Store Finder</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">Corporate Info</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Career Information</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">For Publishers</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Privacy Policy</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Contact Us</a></li>
            
        </ul>
    </div>
</div>
