@model IEnumerable<KolluriBooks.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.AuthorID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.AuthorID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.AuthorID">Delete</a>
        </td>
    </tr>
}
</table>
